body {
    overflow: hidden;
    background: black;
    color: #ffffff;
    font-family: verdana, arial;
    margin: 0;
    height: 100%;
}

a {
    color: #73C1FD;
}

.color-blue {
    color: #73C1FD;
}

#sidebar {
    width: 13%;
    height: 100%;
    padding: 1%;
    background: #0E0E0E;
    position: absolute;
}

#sidebar header {
    font-size: 2em;
    margin: 0.5em 0 0 0;
}

#sidebar footer {
    position: absolute;
    bottom: 5%;
}

#sidebar div {
    margin-top: 2em;
}

#sidebar ul {
    padding-left: 1em;
}

#sidebar li {
    list-style-type: none;
    margin-top: 0.5em;
}

#content {
    height: 100%;
    left: 15%;
    float: left;
    position: absolute;
}

#content header {
    height: auto;
    margin: 0.8em;
    position: absolute;
}

#content header a {
    display: block;
    padding: 10px;
    color: #FFFFFF;
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 40px;
    text-decoration: none;
    margin: auto;
}

#content canvas {
    width: 100%;
    height: 100%;
}

.membership {
    font-size: small;
    margin-left: 1em;
}

